## <center>**Carga y limpieza de datos**</center>
## <center>**metadata_sitios**</center>

En el presente notebook se realizara la carga de los 11 dataframes de Google que contienen la información, atributos y calificación sobre los negocios en Google Maps.

* Importacion de librerias necesarias:

In [2]:
import pandas as pd

* lectura de los datasets:

In [3]:
df1=pd.read_json(r'C:\\Users\\Fernando\\Desktop\\Proyecto-Google-Yelp-Henry-\\1.json',lines=True,encoding='latin1')
df2=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\2.json',lines=True,encoding='latin1')
df3=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\3.json',lines=True,encoding='latin1')
df4=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\4.json',lines=True,encoding='latin1')
df5=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\5.json',lines=True,encoding='latin1')
df6=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\6.json',lines=True,encoding='latin1')
df7=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\7.json',lines=True,encoding='latin1')
df8=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\8.json',lines=True,encoding='latin1')
df9=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\9.json',lines=True,encoding='latin1')
df10=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\10.json',lines=True,encoding='latin1')
df11=pd.read_json(r'C:\Users\Fernando\Desktop\Proyecto-Google-Yelp-Henry-\11.json',lines=True,encoding='latin1')

* concatenación de los datasets:

In [4]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])

* revisamos una muestra de las la primeras filas:

In [5]:
df.head(3)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.35710,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.21529,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.29213,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...

* revisamos nulos

In [6]:
df.isnull().sum()

name                     37
address               80511
gmap_id                   0
description         2770722
latitude                  0
longitude                 0
category              17419
avg_rating                0
num_of_reviews            0
price               2749808
hours                787405
MISC                 690834
state                746455
relative_results     295058
url                       0
dtype: int64

* Determinamos que las columnas "Price" y "Description" serán dropeadas debido a la gran cantidad de nulos y a la poca relevancia que nos muestran los datos de estas columnas. "State" también se droppeo ya que contiene información sobre si el establecimiento está abierto o cerrado, pero para esa información ya tenemos la URL que nos redirige al establecimiento en Google Maps con esta misma información **a tiempo real**

In [7]:
df=df.drop(['description','price','state'],axis=1)

* La columna "hours" también fue dropeada por el mismo motivo que la de "state"

In [8]:
df=df.drop(['hours'],axis=1)

* También se puede observar que las columnas name y category tienen nulos, y ya que se consideran dos columnas vitales decidimos eliminar las filas nulas de ambas columnas

In [9]:
df.isnull().sum() #sacamos columnas con name nulo, category nulo.

name                    37
address              80511
gmap_id                  0
latitude                 0
longitude                0
category             17419
avg_rating               0
num_of_reviews           0
MISC                690834
relative_results    295058
url                      0
dtype: int64

In [10]:
df=df.dropna(subset=['name','category'])

* El resto de columnas son necesarias pero no podemos cortar tanta cantidad de datos así que decidimos rellenar los nulos con strings vacios

In [11]:
df=df.fillna('')

In [12]:
df.head()

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,MISC,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.357100,[Pharmacy],4.9,16,"{'Service options': ['In-store shopping', 'Sam...","[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.215290,[Textile exporter],4.5,6,,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,[Korean restaurant],4.4,18,"{'Service options': ['Takeout', 'Dine-in', 'De...","[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,34.023669,-118.232930,[Fabric store],3.3,6,"{'Service options': ['In-store shopping'], 'Pa...","[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,34.036694,-118.249421,[Fabric store],4.3,7,{'Service options': ['In-store pickup']},"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...

* Desanidamos la columna de categorias y nos quedamos con la primera de la lista

In [13]:
df['category']=df['category'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else '')

* Desanidamos la columna de información miscelanea y la expandimos en un nuevo dataframe

In [14]:
misc_df = df['MISC'].apply(pd.Series)
misc_df

,Service options,Health & safety,Accessibility,Planning,0,Offerings,Amenities,Atmosphere,Payments,Popular for,Dining options,Crowd,From the business,Highlights,Recycling,Getting here,Activities,Lodging options,Health and safety
0,"[In-store shopping, Same-day delivery]","[Mask required, Staff required to disinfect su...",[Wheelchair accessible entrance],[Quick visit],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Takeout, Dine-in, Delivery]",NaN,[Wheelchair accessible entrance],NaN,NaN,[Comfort food],[Good for kids],[Casual],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[In-store shopping],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Checks, Debit cards, Credit cards]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[In-store pickup],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,"[Takeout, Dine-in, Delivery]","[Reservations required, Mask required]","[Wheelchair accessible entrance, Wheelchair ac...","[Dinner reservations recommended, Accepts rese...",NaN,"[Alcohol, Beer, Cocktails, Coffee, Comfort foo...","[Bar onsite, Restroom]",NaN,[Debit cards],"[Dinner, Solo dining]","[Dinner, Dessert, Seating]","[Groups, Tourists]",NaN,"[Great dessert, LGBTQ friendly]",NaN,NaN,NaN,NaN,NaN
274997,[In-store shopping],NaN,NaN,NaN,NaN,"[Car rental, Car wash, Oil change, Repair serv...",NaN,NaN,"[Checks, Debit cards, Credit cards]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274998,NaN,NaN,NaN,[Appointments recommended],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274999,"[Curbside pickup, In-store shopping]",[Mask required],NaN,[Quick visit],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275000,NaN,NaN,[Wheelchair accessible entrance],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Revisamos una de las columnas para ver que valores pueden tener las columnas

In [18]:
misc_df['Accessibility'].value_counts()

Accessibility
[Wheelchair accessible entrance]                                                                                                                                      1620618
[Wheelchair accessible entrance, Wheelchair accessible parking lot]                                                                                                    124046
[Wheelchair accessible entrance, Wheelchair accessible restroom]                                                                                                        55758
[Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair accessible restroom]                                                                     23282
[Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair accessible restroom, Wheelchair accessible seating]                                      17796
                                                                                                                                                                       ...
[Assisted listening devices, Wheelchair accessible elevator, Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair rental]                          1
[Wheelchair accessible elevator, Wheelchair accessible parking lot, Wheelchair accessible seating, Wheelchair accessible restroom]                                          1
[Wheelchair accessible elevator, Wheelchair accessible parking lot, Wheelchair accessible restroom, Wheelchair accessible entrance, Wheelchair rental]                      1
[Wheelchair accessible elevator, Wheelchair accessible seating, Wheelchair accessible entrance, Wheelchair accessible parking lot, Wheelchair accessible restroom]          1
[Wheelchair accessible elevator, Wheelchair accessible entrance, Wheelchair rental]                                                                                         1
Name: count, Length: 191, dtype: int64

* Revisamos la cantidad de nulos de este nuevo dataframe:

In [17]:
misc_df.isna().sum().sort_values()

Accessibility        1058971
Service options      2101596
Planning             2219846
0                    2334177
Amenities            2463392
Offerings            2589756
Payments             2607608
Health & safety      2624440
Highlights           2790487
Atmosphere           2815961
Crowd                2850623
Popular for          2855403
Dining options       2859288
From the business    2910014
Health and safety    2993987
Recycling            3006189
Getting here         3006303
Activities           3007081
Lodging options      3007552
dtype: int64

Al ver la cantidad de nulos y la irrelevancia de estos datos decidimos dropear la columna "MISC"

In [20]:
df=df.drop('MISC',axis=1)

Exportamos a CSV  listo para empezar con el EDA de este dataset

In [22]:
df.to_csv('metadata_establecimientos.csv')